.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .signup-box {
        border: 2px solid black;
        border-radius: 24px;
        min-width: 400px;
        padding: 40px;
    }
    
    .heading {
        text-align: center;
    }
    
    label, input {
        display: block;
        width: 100%;
        margin-block: 8px;
    }
    
    label {
        font-weight: bold;
    }
    
    input {
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid black;
    }

    .submit {
        background-color: rgba(15, 15, 217, 0.421);
        margin-top: 16px;
        font-weight: bold;
        color: white;
        border: none;
        transition: 0.3s;
    }

    .submit:hover {
        background-color: rgb(42, 16, 215);
    }
}